{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Campus</h1>
    <div class="card-body px-4 py-5 px-md-5">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-secondary">{{ button_label|default('Update Campus') }}</button>
                <a class="btn btn-secondary m-2 my-sm-0 text-muted mb-1"
                   href="{{ path('app_campus_index') }}">back to Campus list</a>
                {{ form_end(form) }}


                {{ include('campus/_delete_form.html.twig') }}
            </div>

        </div>
    </div>

{% endblock %}
