<nav class="navbar justify-content-end navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-brand me-2">
            <a href={{ path('app_main_index') }}>
                <img
                        src="{{ asset('img/téléchargement.jpg') }}"
                        height="16px"
                        alt="MDB Logo"
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a>
            <a class="navbar-brand m-2 my-sm-0" href="{{ path('app_main_index') }}">Travel.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <div class="navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav nav justify-content-end me-auto">
                    <li class="nav-item">
                        <a class="nav-link active m-2 my-sm-0" href="{{ path('app_main_index') }}" title="Home">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    {% if app.user %}


                    {% if is_granted("ROLE_ORGANISER") %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_city_index') }}" title="City">City</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_campus_index') }}" title="campus">Campus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_place_index') }}" title="place">Place</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_dashboard') }}"
                               title="Admin Dashboard">Admin</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-warning"
                                                href="{{ path('app_register') }}" title="Create account"
                                                role="button">Register
                                new user</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link m-2 my-sm-0" href="{{ path('app_travel_index') }}"
                           title="travel">Travel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_show',{id:app.user.id}) }}" title="Profile">
                            {{ app.user.pseudo }} {{ app.user.roles | json_encode(constant('JSON_PRETTY_PRINT')) |raw }}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn btn-danger m-2 my-sm-0" href="{{ path('app_logout') }}"
                           title="Logout">Logout</a>
                    </li>

                </ul>

            </div>
            {% else %}
                <form class="d-flex align-items-center">
                    <a class="btn btn-info m-2 my-sm-0"
                       href="{{ path('app_login') }}" title="Login" role="button">Login</a>
                </form>

            {% endif %}
        </div>
    </div>
</nav>