{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">Modification</h1>
        <div class="card-body px-4 py-5 px-md-5">
            <div class="row">
                <div class="mx-auto col-10 col-md-8 col-lg-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
            {% if  is_granted("ROLE_ADMIN") %}
                <a href="{{ path('app_user_index') }}">back to list</a>
            {% endif %}
            {% if app.user.id == user.id %}
                <a href="{{ path('app_forgot_password_request') }}"> forgot your password ? </a>
            {% endif %}
        </div>
    </section>
{% endblock %}
