{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <section>
        <br>
        <h1 class="text-center "> Profile of {{ user.pseudo }}</h1>
        <div class="container py-5">
            <div class="row ">
                <div class="col-lg-4 ">
                    <div class="card mb-4 border-dark" style="height: 345px">
                        <div class="card-body text-center ">
                            {% if user.avatarFilename %}
                                <img
                                        src="{{ asset('img/userAvatar/'~ user.avatarFilename ) }}"
                                        alt="avatar" class="rounded-circle img-fluid"
                                        style="width: 150px; height: 150px"/>
                            {% else %}
                                <img
                                        src="{{ asset('img/userAvatar/defaultAvatar.jpg') }}"
                                        alt="avatar" class="rounded-circle img-fluid"
                                        style="width: 150px; height: 150px;">
                            {% endif %}
                            <h5 class="my-3">{{ user.pseudo }}</h5>
                            <p class="text-muted mb-1">{{ user.lastname }} {{ user.firstname }}</p>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="d-flex justify-content-center mb-2"><a
                                            href="{{ path('app_admin_dashboard') }}">back
                                        to Admin list</a>
                                </div>
                            {% endif %}

                            {% if app.user.id == user.id or is_granted("ROLE_ADMIN") %}
                                <div class="d-flex justify-content-center mb-2"><a
                                            href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4 border-dark " style="height: 345px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Firstname :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.firstname }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Lastname :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.lastname }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.phoneNumber }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Campus :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.userCampus.name }}</p>
                                </div>
                            </div>
                            <hr/>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Roles :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ user.roles |json_encode(constant('JSON_PRETTY_PRINT')) |raw }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
